<a href="https://colab.research.google.com/github/Antonio24ch/Ciencia-de-datos-UniAndes/blob/main/Preparaci%C3%B3n%20de%20datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Banner-Introducci-n.png](https://i.postimg.cc/VkCcqsvv/Banner-Introducci-n.png)

# Introducción a ciencia de datos
## L3: Preparación básica de datos
De acuerdo con el caso de uso del sector retail que se menciona en el PDF se va a desarrollar en los temas vistos en las infografías y videos anteriores, además utilice este notebook como guía para la solución de los problemas que se propongan en el caso de uso A

### Objetivos
1. Entender los diferentes tipos de datos que se presentan
2. Identificar datos duplicados y nulos
3. Realizar el análisis del tipo de dato en concordancia con la interpretación del lenguaje de programación

**Autor:** David Ocampo

### 1. Contexto del caso
En este notebook se revisará los tipos de variables que se tienen para así poder realizar cálculos y análisis a partir de las variables

### 2. Importación de librerías y archivos
En las siguientes líneas de código se importaran los materiales de trabajo necesarios para desarrollar el caso de uso, en esto se incluyen las librerías y los datos

In [1]:
# Importar las librerías necesarias según el análisis que se vaya a realizar
# Librería para comando de sistema
import os
# Librería para manejo de datos
import pandas as pd
# Librería para manejo de fechas
from datetime import date

In [2]:
# cargar los datos en csv
data= pd.read_csv('Ordenes_productos_C1_M2.3.csv', sep=';',encoding='latin-1')
# Visualizar los datos
data.head()

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
0,107500PO59A,A,PO59,VE5389,7/04/2018 18:12,271.86,30.72,52435,Mallama,Nariño,Productos ecoamigables,6.0,7.0,27.0,2486.0,17.0,11.0,14.0
1,37493PS22B,B,PS22,VE1558,20/10/2017 9:07,115.73,4.68,52203,Colon,Nariño,Carnicería,10.0,31.0,20.0,256.0,43.0,2.0,21.0
2,28050PK20B,B,PK20,VE9159,17/08/2017 8:15,432.99,82.70,66001,Pereira,Risaralda,Deportes,25.0,5.0,4.0,5270.0,9.0,27.0,29.0
3,52187PA10A,A,PA10,VE3159,23/09/2017 23:27,108.38,35.39,52435,Mallama,Nariño,Electrodomésticos,10.0,1.0,6.0,734.0,46.0,48.0,22.0
4,84639PR12A,A,PR12,VE5090,7/01/2018 11:50,51.50,11.10,73001,Ibague,Tolima,Frutas y verduras,23.0,16.0,35.0,884.0,45.0,26.0,18.0

### 3.Tipos de datos

Los tipos de datos nos dan el lineamiento de qué tipo de análisis se puede realizar estos datos se pueden dividir en 2 categorías

1. Datos categóricos:
Los datos categóricos representan características. Por lo tanto, puede representar cosas como el género, el idioma, etc. de una persona. Los datos categóricos también pueden tomar valores numéricos (ejemplo: 1 para mujeres y 0 para hombres). Tenga en cuenta que esos números no tienen un significado matemático.

2. Datos numéricos:
Los datos numéricos son un tipo de datos expresados ​​en números, en lugar de una descripción en lenguaje natural. A veces llamados datos cuantitativos, los datos numéricos siempre se recopilan en forma de números. Los datos numéricos se diferencian de otros tipos de datos en forma de números por su capacidad para realizar operaciones aritméticas con estos números.

In [3]:
# Revisar los tipos de datos del dataset
data.dtypes

orden_id                          object
order_item_id                     object
producto_id                       object
vendedor_id                       object
fecha_envio_limite                object
precio                           float64
valor_flete                      float64
codigo_postal_vendedor             int64
ciudad_vendedor                   object
departamento_vendedor             object
nombre_categoria_producto         object
longitud_nombre_producto         float64
longitud_descripcion_producto    float64
cantidad_fotos_producto          float64
peso_g_producto                  float64
longitud_cm_producto             float64
altura_cm_producto               float64
ancho_cm_producto                float64
dtype: object

Vemos que python presenta los datos, en este caso, como: object, float64 e int64 donde estos dos últimos se refieren a datos numéricos, y el otro tipo a datos categóricos.

Sin embargo cabe resaltar que **codigo_postal_vendedor** que es un identificador de la orden lo está tomando como un dato numérico

In [4]:
# Obtener estadísticas básica
data['codigo_postal_vendedor'].describe()

count    10134.000000
mean     49991.684626
std      22463.895340
min       5001.000000
25%      50001.000000
50%      52323.000000
75%      54003.000000
max      99001.000000
Name: codigo_postal_vendedor, dtype: float64

# ¡Cuidado con este error de interpretación!

Al ser un dato de identificación es un dato categórico y no tiene ninguna interpretación describir las estadísticas descriptivas básicas

In [5]:
# lo mejor es convertirlo en categórico
data['codigo_postal_vendedor']=data['codigo_postal_vendedor'].astype(str)
data.dtypes

orden_id                          object
order_item_id                     object
producto_id                       object
vendedor_id                       object
fecha_envio_limite                object
precio                           float64
valor_flete                      float64
codigo_postal_vendedor            object
ciudad_vendedor                   object
departamento_vendedor             object
nombre_categoria_producto         object
longitud_nombre_producto         float64
longitud_descripcion_producto    float64
cantidad_fotos_producto          float64
peso_g_producto                  float64
longitud_cm_producto             float64
altura_cm_producto               float64
ancho_cm_producto                float64
dtype: object

### 4. Datos nulos

Los datos nulos son los registros que por cualquier razón no registran ningún dato, que por lo tanto van a generar un ruido o un sesgo (dependiendo del análisis) y que va a alterar el manejo de los datos para realizar análisis de alto nivel

**Contexto:** No existen datos faltantes en la base, ya que si no están los datos de las órdenes no es posible encontrar cómo realizar el envío

In [6]:
## Función para revisar nulos
# Muestra variable por variable qué porcentaje de nulos se tienen
data.isna().sum()/len(data)

orden_id                         0.00000
order_item_id                    0.00000
producto_id                      0.00000
vendedor_id                      0.00000
fecha_envio_limite               0.00000
precio                           0.00000
valor_flete                      0.00000
codigo_postal_vendedor           0.00000
ciudad_vendedor                  0.00000
departamento_vendedor            0.00000
nombre_categoria_producto        0.00227
longitud_nombre_producto         0.00227
longitud_descripcion_producto    0.00227
cantidad_fotos_producto          0.00227
peso_g_producto                  0.00227
longitud_cm_producto             0.00227
altura_cm_producto               0.00227
ancho_cm_producto                0.00227
dtype: float64

In [7]:
data.isna().sum()

orden_id                          0
order_item_id                     0
producto_id                       0
vendedor_id                       0
fecha_envio_limite                0
precio                            0
valor_flete                       0
codigo_postal_vendedor            0
ciudad_vendedor                   0
departamento_vendedor             0
nombre_categoria_producto        23
longitud_nombre_producto         23
longitud_descripcion_producto    23
cantidad_fotos_producto          23
peso_g_producto                  23
longitud_cm_producto             23
altura_cm_producto               23
ancho_cm_producto                23
dtype: int64

In [8]:
data.shape

(10134, 18)

Las variables involucradas apenas tienen data faltante menor al 1%, por lo tanto se debe decidir cuál criterio utilizar para la data faltante

1. Métodos de eliminacion

Los métodos de eliminación solo funcionan para determinados conjuntos de datos en los que a los participantes les faltan campos. Hay varios métodos de eliminación: dos comunes incluyen la eliminación por lista y la eliminación por pares. Significa eliminar cualquier participante o entrada de datos con valores perdidos. La eliminación por pares es el proceso de eliminar información cuando falta un punto de datos en particular, vital para las pruebas. La eliminación por pares guarda más datos en comparación con la eliminación similar porque la primera solo elimina las entradas donde las variables eran necesarias para la prueba, mientras que la última elimina las entradas completas si falta algún dato, independientemente de su importancia.

2. Análisis de regresión

La regresión es útil para manejar datos faltantes porque puede usarse para predecir el valor nulo usando otra información del conjunto de datos. Los métodos de regresión pueden tener éxito para encontrar los datos faltantes, pero esto depende en gran medida de qué tan bien conectados estén los datos restantes. 

3. Técnicas de imputación de datos

La imputación promedio utiliza el valor promedio de las respuestas de otras entradas de datos para completar los valores faltantes. La imputación de punto comúnes cuando los datos utilizan el punto medio o el valor elegido con más frecuencia. 

4. Mantener los vacíos

No podemos evitar situaciones como estas por completo porque hay varios pasos correctivos que los científicos de datos deben tomar para asegurarse de que no afecten negativamente el proceso de análisis. 

**Análisis:** En este caso al no contar con el nombre, categoría ni medidas del producto es necesario eliminar estos registros, así como la orden creada y hablar con los clientes para generar la devolución de su dinero

In [9]:
# eliminar los datos vacío
data=data.dropna()
data.shape

(10111, 18)

### 4. Duplicados

Identificar los datos (registros) que por alguna razón tienen columnas repetidas en todas las variables, es decir está generando data erronea ya que está mostrando datos que ya están en la base

**Contexto:** Existen órdenes duplicadas para realizar los envíos

In [10]:
#Revisar cuáles registros están duplicados
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
10129    False
10130    False
10131    False
10132    False
10133    False
Length: 10111, dtype: bool

In [11]:
# establecer un método para eliminar duplicados
data=data.drop_duplicates()
data.head(5)

,orden_id,order_item_id,producto_id,vendedor_id,fecha_envio_limite,precio,valor_flete,codigo_postal_vendedor,ciudad_vendedor,departamento_vendedor,nombre_categoria_producto,longitud_nombre_producto,longitud_descripcion_producto,cantidad_fotos_producto,peso_g_producto,longitud_cm_producto,altura_cm_producto,ancho_cm_producto
0,107500PO59A,A,PO59,VE5389,7/04/2018 18:12,271.86,30.72,52435,Mallama,Nariño,Productos ecoamigables,6.0,7.0,27.0,2486.0,17.0,11.0,14.0
1,37493PS22B,B,PS22,VE1558,20/10/2017 9:07,115.73,4.68,52203,Colon,Nariño,Carnicería,10.0,31.0,20.0,256.0,43.0,2.0,21.0
2,28050PK20B,B,PK20,VE9159,17/08/2017 8:15,432.99,82.70,66001,Pereira,Risaralda,Deportes,25.0,5.0,4.0,5270.0,9.0,27.0,29.0
3,52187PA10A,A,PA10,VE3159,23/09/2017 23:27,108.38,35.39,52435,Mallama,Nariño,Electrodomésticos,10.0,1.0,6.0,734.0,46.0,48.0,22.0
4,84639PR12A,A,PR12,VE5090,7/01/2018 11:50,51.50,11.10,73001,Ibague,Tolima,Frutas y verduras,23.0,16.0,35.0,884.0,45.0,26.0,18.0

In [12]:
#Mostrar la totalidad de datos duplicados, la función .sum() muestra la suma de registros
data.duplicated().sum()

0

**Análisis:** No existen órdenes duplicadas

### 5. Elegir el formato
Cuando se trabaja con datos es posible encontrarse con diferentes tipos de datos y es muy importante encontrar el tipo de dato correcto, es decir, saber si se trabaja con reales, con enteros, categorías, fechas, etc...

**Hipótesis:** Es posible realizar el cálculo de la fecha de envío hasta hoy

In [13]:
## Arreglo de datos
# Se trata de restar dos fechas
hoy = pd.to_datetime("now")
hoy

Timestamp('2022-04-15 22:37:11.956337')

In [14]:
#restar los días que hay entre hoy y la fecha de pedido
data['fecha_envio_limite']

0         7/04/2018 18:12
1         20/10/2017 9:07
2         17/08/2017 8:15
3        23/09/2017 23:27
4         7/01/2018 11:50
               ...
10129     1/04/2018 11:38
10130    21/10/2017 17:09
10131     10/10/2017 8:37
10132     13/11/2017 3:20
10133    26/12/2017 19:34
Name: fecha_envio_limite, Length: 10111, dtype: object

In [15]:
data['fecha_envio_limite']-hoy

TypeError: ignored

# ¡Cuidado con el error, hay que revisar qué formato se está utlizando!

In [16]:
# Revisar el tipo de dato que es la columnda de fechas
data[['fecha_envio_limite']].dtypes

fecha_envio_limite    object
dtype: object

In [17]:
## Cambiar el tipo de dato
# El tipo de dato de fecha para el lenguaje de programación es un texto, por lo tanto,
# no se pueden realizar operaciones de ninguna, es necesario cambiar el tipo de dato
data['fecha_envio_limite']=pd.to_datetime(data['fecha_envio_limite'])

In [18]:
# revisar que el tipo de dato es de fecha
data[['fecha_envio_limite']].dtypes

fecha_envio_limite    datetime64[ns]
dtype: object

In [19]:
# Hacer operaciones con el tipo de dato correcto
# como ya la columna es el tipo de dato correcto se puede hacer la resta para obtener los días
hoy-data['fecha_envio_limite']

0       1381 days 04:25:11.956337
1       1638 days 13:30:11.956337
2       1702 days 14:22:11.956337
3       1664 days 23:10:11.956337
4       1384 days 10:47:11.956337
                   ...
10129   1562 days 10:59:11.956337
10130   1637 days 05:28:11.956337
10131   1648 days 14:00:11.956337
10132   1614 days 19:17:11.956337
10133   1571 days 03:03:11.956337
Name: fecha_envio_limite, Length: 10111, dtype: timedelta64[ns]

**Análisis:** Es posible realizar el cálculo de la fecha hasta hoy, sin embargo, es muy importante tener en cuenta el tipo de dato que se está operando

![Banner-Introducci-n.png](https://i.postimg.cc/VkCcqsvv/Banner-Introducci-n.png)